.custom-heading-count {
	opacity: 0.5;
}

.outline .tree-item-children {
	counter-reset: multi-counters;
}

.outline .tree-item {
	counter-increment: multi-counters;
}

.outline .tree-item-inner::before {
	content: counters(multi-counters, ".") ". ";
}

/* Fix for vertical alignment of headings without children */

.outline .tree-item-inner {
	padding-left: var(--size-4-3);
}

.outline .tree-item-icon {
	position: absolute;
}
