.custom-heading-count {
	opacity: 0.5;
}

.tree-item-children {
	counter-reset: multi-counters;
}

.tree-item-inner::before {
	counter-increment: multi-counters;
	content: counters(multi-counters, ".") ". ";
}
